:root {
	--background-color: #ffffff; /* Warna latar belakang default (mode terang) */
	--text-color: #000000; /* Warna teks default (mode terang) */
}

/* Mode gelap */
body[data-bs-theme="dark"] {
	--background-color: #121212; /* Warna latar belakang (mode gelap) */
	--text-color: #ffffff; /* Warna teks (mode gelap) */
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}
